<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align: center">
	<h1>Welcome to {{ title }}!</h1>
</div>

My Custom param Value= {{customParam}}


<app-my-custom-component></app-my-custom-component>

<a routerLink="/router">RoutingComponentComponent</a>
<br>
<a routerLink="/data-binding">MyDataBindingComponent</a>
<br>
<a routerLink="/my-css">MyCssComponent</a>
<br>
<a routerLink="/pipes">PipesComponent</a>
<br>
<a routerLink="/forms">FormsComponent</a>
<br>
<a routerLink="/reactive-forms">ReactiveFormsComponent</a>
<router-outlet></router-outlet>

<!-- <app-my-css></app-my-css> -->


